body{
  background-color: #cceafb;
  margin: 0 0 0 0;
  text-align: center;
}

/* ESTILO TÍTULO: */
#titulo{
  display: inline-block;
  text-align: center;
  font-family: times;
  font-weight: bold;
  font-size: 35px;
  background-color: white;
  border: #0f6f94 solid 8px;
  border-radius: 20px;
  margin: 8px 0 15px 0;
  padding: 0 5px 5px 5px;
}

/* ESTILO PARAGRAFOS: */
p {
  font-size: 17px;
  font-family: arial;
  padding: 0 4px 0 4px;
  background-color: white;
  border: #b7c1d5 solid 4px;
  border-radius: 5px;
  text-align: left;
  margin: 0 0 0 0;
}
.intro{
  margin-left: 3%;
  margin-right: 3%;
}

/* ESTILO ARTICO E ANTARTICA: */
#DIV-circuloArtico, #DIV-circuloAntartico{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 80px 3% 5px 3%;
}
#DIV-circuloArtico{
  height: 840px;
}
#DIV-circuloAntartico{
  height: 560px;
}

#circuloArtico, #circuloAntartico{
  text-align: left;
  position: relative;
  font-family: times;
  background-color: white;
  border: #0f6f94 solid 7px;
  border-radius: 25px 25px 25px 0;
  padding: 3px 10px 0 4px;
  margin: 0px 0 0px 0%;
}

/* ESTILO IMAGENS: */
img{
  border: #3ab4d5 solid 8px;
  border-radius: 0 40px 0 40px;
  width: 350px;
  margin: 10px 0 10px 0;
  position: relative;
}

/* ESTILO LEGENDAS DAS IMAGENS: */
.fotoElegenda{
  display: inline-block;
}
.foto2e3{
  margin-bottom: 0;
  border-radius: 0 40px 0 0;
}
.legenda{
  display: inline-block;
  position: relative;
  bottom: 4px;
  width: 350px;
  font-family: arial;
  text-align: center;
  background-color: white;
  border: #3ab4d5 solid 8px;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  padding: 4px 0 4px 0;
}

/* PARTE DE BAIXO: */
.finalização{
  margin: 80px 8px 8px 8px;
}
.referencia{
  display: inline-block;
  font-size: 22px;
  font-family: times;
  background-color: white;
  border: #0f6f94 solid 8px;
  border-radius: 20px;
  margin: 0px 0 0px 0;
  padding: 3px 8px 3px 8px;
  width: 360px;
}
.creditos{
  display: inline-block;
  font-size: 17px;
  font-family: times;
  background-color: white;
  border: #0f6f94 solid 8px;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  margin: 0;
  padding: 3px 5px 0 5px;
}

/* MEDIA QUERY: */
@media (min-width: 500px) {
  .intro{
    margin-left: 20%;
    margin-right: 20%;
  }
  #DIV-circuloArtico, #DIV-circuloAntartico{
    margin-left: 20%;
    margin-right: 20%;
  }
  #DIV-circuloArtico{
    height: 600px;
  }
  #DIV-circuloAntartico{
    height: 390px;
  }
}
