body{
  background-color: black;
  text-align: center;
  color: white;
}
.titulo{
  font-family: times;
  color: blue;
  background-color: white;
  border: dimgray solid 8px;
  margin: 5% 16% 0% 16%
}
.cred{
  font-family: times;
  font-size: 14px;
  color: red;
  background-color: white;
  border: dimgray solid 8px;
  border-radius: 15px;
  margin: 5% 25% 0% 25%
}
.possivel{
  font-style: italic;
  font-family: arial;
  font-size: 8px;
  color: dimgray;
  margin: 5px 0 40px 0;
}

.regpol{
  font-weight: bold;
  font-family: arial;
  color: white;
  background-color: #6997ac;
  border: #4c88bc solid 8px;
  border-radius: 15px;
  padding: 5px;
  margin: 0px 0 0px 0px;
}
.gatojoia{
  font-weight: bold;
  font-family: arial;
  color: black;
  background-color: #c7af9d;
  border: #e7cac4 solid 8px;
  border-radius: 15px;
  padding: 5px;
}