body{
  background-color: black;
  text-align: center;
  color: white;
}
.DIV-gatoJoia{
  text-align: center;
  display: flex;
  justify-content: center;
}
.gatoJoia{
  position: absolute;
  top: 125px;
  width: 95%;
  height: 530px;
  z-index: -10;
  opacity: 0.4;
  border-radius: 50px;
}
.titulo{
  font-family: "Bungee Shade", serif;
  font-size: 40px;
  color: blue;
  background-color: white;
  border: dimgray solid 8px;
  border-radius: 0 25px 0 25px;
  padding: 0 5px 0 5px;
  margin: 2% 0% 0% 0%;
  display: inline-block;
}
.creditos{
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  color: red;
  background-color: white;
  border: dimgray solid 10px;
  border-radius: 25px 0 25px 0;
  margin: 20px 0% 0% 0%;
  padding: 5px 1% 0 1%;
  display: inline-block;
}
.possivel{
  font-style: italic;
  font-family: arial;
  font-size: 8px;
  color: dimgray;
  margin: 5px 0 40px 0;
}

/* SITES: */
a{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  border-radius: 15px;
}
.regpol{
  color: white;
  background-color: #6997ac;
  border: #4c88bc solid 8px;
  
}
.gatojoia{
  color: black;
  background-color: #c7af9d;
  border: #e7cac4 solid 8px;
  
}
.conversa{
  color: black;
  background-color: white;
  border: red solid 8px;
  
}
.aperte-botao{
  background-color: red;
  color: black;
  border: white solid 8px;
  
}
.versiculo-dia{
  background-color: #c6a78d;
  color: white;
  border: #e4861a solid 8px;
  
}
.senha{
  background-color: black;
  color: greenyellow;
  border: grey solid 8px;
}
.senha2{
  background-color: #BDBDBD;
  color: black;
  border: #00007B solid 8px;
  
}
.conversor{
  background-color: plum;
  color: black;
  border: crimson inset 8px;
  
}
.ultraConversor{
  background-color: mediumblue;
  color: white;
  border: aqua outset 8px;
  
}
/* --- SITES --- */