/* >> FONTES: */
/* "Bungee Shade", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/* "Varela Round", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* "Montserrat", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* >> VARIÁVEIS: */
:root {
  --bordaWidth: 1.5vw;
}

/* >> ESTILO DA PÁGINA: */
body {
  background-color: black;
  color: white;
}

/* Cabeçalho: */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

header h1 {
  font-family: "Bungee Shade", sans-serif;
  font-size: 9vw;
  color: blue;
  background-color: white;
  border: dimgray solid 1.8vw;
  border-radius: 0 5vw;
  padding: 0 8px;
  margin-top: 2vw;
}

header div#creditos {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 350;
  font-size: 4.5vw;
  padding: 2.5px;
  box-shadow: 1.2vw 1.2vw 0 gray;
  color: red;
  background-color: #fff;
}

/* Rodapé: */
footer {
  margin-bottom: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer #github, #fontes{
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 3vw;
  color: red;
  background-color: white;
  border: dimgray solid 1vw;
  border-radius: 5vw 0;
  padding: 1.2vw;
}

/* Conteúdo principal: */
main {
  margin: 10% auto;
  width: 70%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: #0D1B2A;
  padding: 3vw 3vw;
  border-radius: 10vw;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex: 0 1 auto;
}

/* !>> Estilo padrão links sites: */
nav a {
  font-size: 3.5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 1.5vw;
  border-radius: 3.5vw;
}

nav a:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
  font-style: italic;
}

/* !>> Estilo individual links sites: */
#adivinheSenha {
  background-color: black;
  color: greenyellow;
  border: grey solid;
  border-width: var(--bordaWidth);
}

#maquinaEnigmas {
  background-color: navajowhite;
  color: black;
  border: peru solid;
  border-width: var(--bordaWidth);
}

#ultraConversor {
  background-color: mediumblue;
  color: white;
  border: aqua outset;
  border-width: var(--bordaWidth);
}

#calculadoraLiedshow {
  background-color: #1C1D1F;
  color: white;
  border: #1A5986 solid;
  border-width: var(--bordaWidth);
}

#cronometroEngracado {
  background-color: darkorange;
  color: black;
  border: white solid;
  border-width: var(--bordaWidth);
}

#significados {
  background-color: #A36C0F;
  color: #ffffff;
  border: black solid;
  border-width: var(--bordaWidth);
}

#dadoCasa {
  background-color: #000;
  color: #fff;
  border: white solid var(--bordaWidth);
}

#janelas98 {
  display: flex;
  align-items: center;
  gap: 0 5px;
  background-color: #C0C0C0;
  color: #000;
  border: solid var(--bordaWidth) #2B2BCA;
}

#tarefinhas {
  color: #000;
  background-color: #fff;
  border: #0074b4 solid var(--bordaWidth);
}

/* >> KEYFRAMES: */
/*...*/

/* >> CLASSES SCRIPTADAS: */
/*...*/

/* >> MEDIA QUERIES: */
@media (min-width: 576px) {}