/* FONTES: */

/* Bungee Shade: */
/* "Bungee Shade", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/* Varela Round: */
/* "Varela Round", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Mountserrat: */
/* "Montserrat", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: black;
  text-align: center;
  color: white;
  margin: 0;
}

/* CABEÇALHO: */
.titulo{
  font-family: "Bungee Shade", sans-serif;
  font-size: 40px;
  color: blue;
  background-color: white;
  border: dimgray solid 8px;
  border-radius: 0 25px 0 25px;
  padding: 0 5px 0 5px;
  margin: 8px 0 0 0;
  display: inline-block;
}
.possivelmente{
  font-style: italic;
  font-family: arial;
  font-size: 8px;
  color: dimgray;
  margin: 5px 0 20px 0;
}

/* RODAPÉ: */
#creditos, #creditosFontes{
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  color: red;
  background-color: white;
  border: dimgray solid 10px;
  border-radius: 25px 0 25px 0;
  margin: 20px 8px 8px 8px;
  padding: 5px;
  display: inline-block;
}

/* CONTEÚDO PRINCIPAL: */
main {
  background-color: #0D1B2A;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
}

/* ESTILO PADRÃO LINKS SITES: */
#DIVsites > a{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  border-radius: 15px;
  border-width: 8px;
}
#DIVsites{
  height: 650px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
/*A altura deve ser atualizada de acordo com a quantidade de sites adicionados.*/

/* ESTILO INDIVIDUAL LINKS SITES: */
#regioesPolares{
  color: white;
  background-color: #6997ac;
  border: #4c88bc solid;
}
#aTalConversa{
  color: black;
  background-color: white;
  border: red solid;
}
#aTalConversa2{
  color: black;
  background-color: white;
  border: blue solid;
}
#aTalConversaWiki{
  color: black;
  background-color: white;
  border: forestgreen solid;
}
#adivinheSenha{
  background-color: black;
  color: greenyellow;
  border: grey solid;
}
#maquinaEnigmas{
  background-color: navajowhite;
  color: black;
  border: peru solid;
}
#conversorDeUnidades{
  background-color: plum;
  color: black;
  border: crimson inset;
}
#ultraConversorDeUnidades{
  background-color: mediumblue;
  color: white;
  border: aqua outset;
}
#curiosidadeAnime{
  background-color: #BC002D;
  color: white;
  border: white solid;
}
#calculadoraLiedshow{
  background-color: #1C1D1F;
  border: #1A5986 solid;
  color: white;
}
#cronometroEngracado{
  background-color: darkorange;
  border: white solid;
  color: black;
}