body{
  margin: 0;
  font-family: arial;
  background-color: #8F6213;
  text-align: center;
}

/* PARTE DE CIMA: */
#titulo, #criador{
  display: inline-block;
  text-align: center;
  font-size: 30px;
  background-color: white;
  color: black;
  border: forestgreen solid 5px;
  border-radius: 0 15px 0 15px;
  padding: 0 10px 0 10px;
  margin: 20px 8px 0px 8px;
}
#criador{
  border-top: none;
  margin: 0 0 10px 0;
  font-size: 16px;
  border-radius: 0 0 15px 15px;
  font-weight: normal;
}
#info{
  display: inline-block;
  font-size: 16.5px;
  background-color: white;
  border: darkgreen solid 8px;
  border-radius: 40px 0 40px 0;
  padding: 0 15px 0 15px;
  margin: 0 8px 20px 8px;
}

/* TEXTOS DA WIKI: */
#textoWiki{
  background-color: white;
  color: black;
  font-family: times;
  font-size: 16.5px;
  border: black dashed 3.5px;
  margin: 10px 8px 0 8px;
  padding: 5px;
}
.marcacao{
  color: blue;
  font-style: italic;
  font-weight: bold;
}

/* TOPICOS UNIVERSAL: */
.topico{
  background-color: white;
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: #444444;
}

/* TOPICOS SITE PADRAO: */
#topicosPadrao{
  margin: 0 8px 0 8px;
  display: grid;
  grid-template-areas:
  "personagens lugares"
  "guerra tfe";
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 10px;
}
/* Topicos Individuais, Site Padrão: */
#personagens{
  grid-area: personagens;
  border: red solid 5px;
}
#lugares{
  grid-area: lugares;
  border: blue solid 5px;
}
#guerra2000{
  grid-area: guerra;
  border: yellow solid 5px;
}
#tfe{
  grid-area: tfe;
  border: forestgreen solid 5px;
}

/* ESTILOS FORA DO SITE UNIVERSAL: */

/* Icone Vertical */
.divPersonagem{
  margin: 15px 10px 0 10px;
  width: 150px;
  display: flex inline;
  flex-direction: column;
  align-content: space-around;
}
.imgPersonagem{
  margin: 0;
  border: white solid 5px;
  border-radius: 0 50px 0 0px;
}
.spanPersonagem{
  margin: 0;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 0px 0 5px 0;
  border-radius: 0 0 0 50px;
}

/* Icone Horizontal, universal: */
.divIcone{
  display: flex inline;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 8px 0 8px;
  border: white solid 8px;
  border-radius: 20px;
}
.imagemIcone{
  width: 100px;
  height: 100px;
  border-right: white solid 8px;
  border-radius: 10px 0 0 10px;
}
.nomeIcone{
  margin: 0 8px 0 8px;
  background-color: white;
  border: white solid 5px;
}

#flexPersonagens{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/* Icone Horizontal, individual: */
.gatoJoia{
  border-color: yellow;
  border-right-color: yellow;
}
.mrFresh{
  border-color: lightgreen;
  border-right-color: lightgreen;
}
.erios{
  border-color: gray;
  border-right-color: gray;
}
.gatito{
  border-color: lightyellow;
  border-right-color: lightyellow;
}
.lux{
  border-color: #dba975;
  border-right-color: #dba975;
}
.agelub{
  border-color: saddlebrown;
  border-right-color: saddlebrown;
}
.zenga{
  border-color: tomato;
  border-right-color: tomato;
}
.tadin{
  border-color: aqua;
  border-right-color: aqua;
}
.alverinda{
  border-color: #E881A6;
  border-right-color: #E881A6;
}
.remedio{
  border-color: palevioletred;
  border-right-color: palevioletred;
}
.narrador{
  border-color: brown;
  border-right-color: brown;
}
.okias{
  border-right-color: #F55EF9;
  border-color: #F55EF9;
}
.telefonista{
  border-color: steelblue;
  border-right-color: steelblue;
}