body {
  background-color: gray;
  color: white;
  text-align: center;
}
.titulo{
  display: inline-block;
  font-size: 30px;
  font-family: arial;
  color: black;
  background-color: white;
  margin: 10% 0 50px 0;
  padding: 0 10px 0 10px;
  border: red solid 5px;
  border-radius: 0 15px 0 15px;
}
.fim {
  display: inline-block;
  font-size: 30px;
  font-family: arial;
  color: black;
  background-color: white;
  margin: 50px 0 0 0;
  padding: 0 10px 0 10px;
  border: red solid 5px;
  border-radius: 15px 0px 15px 0px;
}

.display-historia{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 5px 0 0 0;
  height: 170px;
}

/* Gato Joia: */
.gatoJoia-img{
  border: yellow solid 5px;
  border-radius: 0 50px 0 50px;
  margin: 0px 2% 0px 0;
  width: 150px;
} .fala-gatoJoia {
  font-size: 18px;
  text-align: left;
  font-family: times;
  border: black solid 3px;
  background-color: yellow;
  color: black;
  border-radius: 15px;
  padding: 0 10px 0 10px;
  margin: 0;
}

/* Fresh: */
.fresh-img {
  border: lightgreen solid 5px;
  border-radius: 50px 0 50px 0px;
  margin: 0 0 0 2%;
  width: 150px;
} .falafresh{
  font-size: 18px;
  font-family: times;
  text-align: left;
  border: black solid 3px;
  background-color: lightgreen;
  color: black;
  border-radius: 15px;
  padding: 0 10px 0 10px;
  margin: 0;
}