/* FONTES: */
@font-face{
  font-family: welbut;
  src: url('fonts/Welbut.ttf') format('truetype');
}
@font-face{
  font-family: start;
  src: url('fonts/PressStart.ttf') format('truetype');
}

body{
  background-color: black;
  color: white;
  font-family: arial;
}

/* -- CABEÇALHO: */
header span {
  color: silver;
}
#titulo {
  text-align: center;
  font-family: start;
  font-size: 35px;
  background-color: black;
  color: greenyellow;
  border: grey solid 7.5px;
  margin: 10px 0 10px 0;
  padding: 10px 5px 5px 5px;
}
/* Como Jogar: */
header ol {
  text-align: center;
  font-family: welbut;
  font-weight: normal;
  background-color: black;
  color: greenyellow;
  border: grey solid 7px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 30px;
}
header li {text-align: left;}
/* Creditos: */
div#creditos {
  text-align: center;
  font-family: welbut;
  font-size: 18px;
  background-color: black;
  color: greenyellow;
  border: grey solid 7px;
  margin: 0;
  padding: 5px 0 5px 0;
}
#criador-dataCriacao {
  margin-bottom: 10px;
}
div#fontes a {
  color: red;
}

/* -- CONTEÚDO PRINCIPAL: */
main section{
  text-align: center;
}
/* ESTILO ENIGMAS: */
.tituloEnigma {
  font-family: welbut;
  background-color: black;
  color: greenyellow;
  border: grey solid 6.5px;
  border-radius: 20px 0 20px 0;
  padding: 2px 3% 4px 15px;
  margin: 100px 0% 10px 0;
  display: inline-block;
  position: relative;
  text-align: left;
}
img.cadeado {
  background-color: white;
  border-radius: 40px;
  width: 150px;
  height: 150px;
}
main section input {
  width: 100px; height: 20px;
  text-align: center;
  font-family: start;
  font-size: 20px;
  background-color: black;
  color: greenyellow;
  border: gray solid 6px;
  border-radius: 10px;
  margin: 5px 0 5px 0;
  padding: 5px 10px 3px 10px;
}
main section button {
  background-color: greenyellow;
  color: black;
  border: dimgrey solid 4px;
  border-radius: 20px;
  font-size: 20px;
  font-family: start;
  padding: 8px 10px 5px 10px;
  margin: 0 0 10px 0;
  cursor: pointer;
}
main section .resposta {
  font-family: welbut;
  font-size: 18px;
  background-color: black;
  border-radius: 20px;
  margin: 0 20% 0 20%;
}
/* Estilo conteiner dicas: */
div.dica {
  background-color: black;
  color: greenyellow;
  border: grey solid 8px;
  border-radius: 20px;
  margin: 10px 0 0 0;
}
.tituloDica {
  margin: 0 0 0 0;
  padding: 6px 0 2px 0;
  font-family: start;
}
div.dica p {
  margin: 0;
  padding: 0 0 3px 7px;
  font-family: welbut;
  font-size: 15px;
  text-align: left;
}

/* -- MEDIA QUERY: */
@media (min-width: 500px) {
  body{
    margin-left: 25%;
    margin-right: 25%;
  }
}