body{
  color: white;
  background-color: steelblue;
  text-align: center;
  font-family: arial;
}

/* *↓* CABEÇALHO *↓* */
.cabeçalho{
  margin: 10px 0 60px 0;
  color: white;
  display: inline-block;
}
.nomeDaPagina{
  margin: 0;
  padding: 0 10px 5px 10px;
  font-size: 48px;
  background-color: mediumblue;
  border: aqua outset 12px;
  border-radius: 0px 45px 0px 45px;
}
.creditos{
  margin: 0;
  padding: 0 5px 0px 5px;
  display: inline-block;
  font-style: italic;
  background-color: #009B9B;
  color: whitesmoke;
  border: aqua inset 6px;
  border-radius: 0 8px 0px 20px;
}
/* *↑* CABEÇALHO *↑* */

/* *↓* CONVERSOR *↓* */
.conversorDeUnidades-DIV{
  background-color: black;
  border: white inset 8px;
  display: inline-block;
  padding: 5px;
  margin: 0 10% 0 10%;
}
.conversorInicial-P{
  margin: 0 0 5px 0;
}
.conversorFinal-P{
  margin: 20px 0 5px 0;
}
.resultado{
  margin: 20px 0 0 0;
}
input{
  margin: 0px;
  width: 90px;
}
select{
  margin: 0px;
  padding: 1.8px 0 2px 0;
}
/* *↑* CONVERSOR *↑* */

.sublinhado{
  text-decoration: underline;
}