/* -→ FONTES: */

/* ------------------------------------- */
/* -> HTML, BODY & ROOT (variáveis): */
html,
body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  background-color: bisque;
  text-align: center;
}

:root {}

/* ------------------------------------- */
/* -→ ESTILO DA PÁGINA: */

/* ! Header: */
h1 {
  background-color: darkorange;
  display: inline-block;
  padding: 5px;
  box-shadow:
  8px 8px 0 0 white,
  -6px -6px 0 0 limegreen;
}


/* ! Main: */
/* Cronometro: */
#cronometro-box {
  background-color: black;
  padding: 20px;
  border-radius: 50px;
  border: gray solid 8px;
  margin: 50px 10vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}

section > p {
  color: greenyellow;
  font-family: times;
  font-size: 26px;
  margin: 0;
}

#hr-min-seg {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.8rem;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 0 1 auto;
}

button {
  background-color: green;
  color: white;
  font-size: 20px;
  font-style: italic;
  border: white solid 4px;
  border-radius: 10px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

.btn-apertado {
  background-color: firebrick;
  border-color: white;
  text-decoration: underline;
}

.separador {
  white-space: pre;
  font-weight: bold;
}


/* ! Footer: */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
footer > p {
  font-size: 1.4rem;
  background-color: #fff;
  padding: 5px;
  box-shadow:
  8px 8px 0 0 black,
  -6px -6px 0 0 dimgray;
}
/* ------------------------------------- */
/* -→ MEDIA QUERY: */
@media (min-width: 576px) {
 #cronometro-box {
   margin: 20px 30vw;
 } 
}
/* ------------------------------------- */
/* -→ KEYFRAMES: */

/* ------------------------------------- */
/* -→ CLASSES SCRIPTADAS: */